<div class="homepage-container">
  <nav class="Mask">
    <ul class="list">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/register">Sign up / Login</a></li>
        <li><a routerLink="/trips">Trips</a></li>
        <li><a routerLink="/personal-area">Personal Area</a></li>  
        <li><a routerLink="/users" *ngIf="this.userSer.manager == true">Users</a></li>
        <li>Welcome {{loggedUser}} </li>

    </ul>
    <button class="search">Search</button>
    <button class="menu">Menu</button>
  </nav>

  <router-outlet></router-outlet>

</div>